@import '../App.css';

/****Sidebar CSS***/

.sideBarButton{
    display:flex;
    flex-direction:row;
    gap:15px;
    align-items:center;
    box-sizing:border-box;
    padding:10px 14px;
    height:50px;
    width:100%;
    background-color:var(--white);
    color:var(--grey-color);
    border-radius:8px;
    transition: background-color 0.5s ease;
    &:hover{
        background-color:var(--primary-color);
        color:var(--white);
    }
    .svg{
        width:30px;
        height:auto;
    }
}
